@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
    font-family: 'Tangerin', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin: 0;
}

section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    /* padding: 150px 100px 100px; */
    /* transition: ease-in-out;
    transition-duration: 1000ms; */
    overflow-x: auto;
}

.hero {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-size: cover;
    position: relative;
    background-image: url(hero1.png);
}

.headline {
    font-size: 6rem;
    font-family: 'Tangerine';
    color: #c59d5f;
    font-weight: 100;
    line-height: .4;
    transition: ease-in;
    transition-duration: 100ms;
}

.headline::first-letter {
    font-size: 10rem;
}

.sub-headline {
    font-size: 3rem;
    font-family: 'Bodoni Moda';
    text-transform: uppercase;
    margin-top: 2rem;
    color: #fff;
    text-align: center;
    transition: ease-in-out;
    transition-duration: 1000ms;
}

.sub-ultah {
    font-size: 1rem;
    font-family: 'Cinzel';
    text-transform: uppercase;
    margin-top: 0.5rem;
    color: #fff;
    text-align: center;
    transition: ease-in-out;
    transition-duration: 1000ms;
}

.kata-kata {
    background-image: url(hero5.jfif);
    width: 100%;
    position: absolute;
}

.kata-kata .ucapan .headline {
    align-items: center;
    margin-left: 3rem;
    justify-content: center;
}

.kata-kata .ucapan .sub-ucapan {
    padding: 50px 50px 10px 50px;
    font-size: 2rem;
    text-align: justify;
    color: white;
}

@media screen and (max-width: 400px) {
    .sub-headline {
        font-size: 1rem;
    }
    .headline {
        font-size: 3rem;
    }
    .headline::first-letter {
        font-size: 4rem;
    }
    .kata-kata .ucapan .sub-ucapan {
        font-size: 15px;
    }
    .kata-kata .ucapan .headline {
        margin-top: 4rem;
        font-size: 2rem;
    }
}

@media screen and (max-width: 450px) {
    .sub-headline {
        font-size: 1rem;
    }
    .headline {
        font-size: 3rem;
    }
    .headline::first-letter {
        font-size: 4rem;
    }
    .kata-kata .ucapan .sub-ucapan {
        font-size: 20px;
    }
    .kata-kata .ucapan .headline {
        margin-top: 4rem;
        font-size: 2rem;
    }
}

@media screen and (max-width: 520px) {
    .sub-headline {
        font-size: 1rem;
    }
    .headline {
        font-size: 3rem;
    }
    .headline::first-letter {
        font-size: 4rem;
    }
    .kata-kata .ucapan .sub-ucapan {
        font-size: 20px;
    }
    .kata-kata .ucapan .headline {
        margin-top: 4rem;
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 520px) {
    .sub-headline {
        font-size: 2rem;
    }
    .headline {
        font-size: 4.5rem;
    }
    .headline::first-letter {
        font-size: 5rem;
    }
    .kata-kata .ucapan .sub-ucapan {
        font-size: 20px;
    }
    .kata-kata .ucapan .headline {
        margin-top: 4rem;
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 700px) {
    .sub-headline {
        font-size: 2rem;
    }
    .headline {
        font-size: 6rem;
    }
    .headline::first-letter {
        font-size: 10rem;
    }
    .kata-kata .ucapan .sub-ucapan {
        font-size: 1.5rem;
    }
    .kata-kata .ucapan .headline {
        margin-top: 4rem;
        font-size: 3.5rem;
    }
}